<html>
    <head>

    </head>
    <body>
        <h3>Welcome</h3>

        <form method="post" action="/signup" >

            <input type="text" name="name" ><br>
            <input type="password" name="password"><br>
            <input type="email" name="email"><br>
            <input type="submit" name="submit">
        </form>
    </body>
</html>